{% extends "master.html" %}
{% block content %}
  <div class="container d-flex justify-content-center align-items-center">
  <div class="text-center">

    <!-- Picture Placeholder -->
    <div class="mb-4">
      <img src="{{ url_for("static", filename="images/logo.png") }}" alt="privexlogo">
    </div>

    <!-- Login Form -->
    <form method="POST" action="{{ url_for('changepassword') }}">
      <!-- Password -->
      <div class="mb-3">
        <input type="password" class="form-control text-black" name="password" placeholder="New Password" style="background-color: #ffffff; border-radius: 10px;">
      </div>

      <!-- Login Button -->
      <button type="submit" class="btn btn-primary w-100">
        Update
      </button>
    </form>

  </div>
</div>

{% endblock %}